/* ----------------------------------------------------------- */
/*                           FONTES                            */
/* ----------------------------------------------------------- */

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Inter Bold";
    src: url(../fonts/static/Inter_28pt-ExtraBold.ttf);
}

/* ----------------------------------------------------------- */
/*                     Estilos Globais CSS                     */
/* ----------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

/* ----------------------------------------------------------- */
/*                          NAVBAR                             */
/* ----------------------------------------------------------- */

/* Logo na Navbar */

#logo-navbar {
    transition: all 0.5s ease;
}

/* Titulo do Offcanvas */

#heading-offcanvas {
    font-family: "Inter Bold";
    font-size: 24px;
}

/* ----------------------------------------------------------- */
/*                          HERO                               */
/* ----------------------------------------------------------- */

/* Area com as principais noticias */
#hero {
    background-color: #3b82f6;
    height: 125dvh;
}

/* Container dos cards de noticias */
#container-cards-noticias {
    width: 75%;
}

/* Container de Principais Noticias*/
#container-principais-noticias {
    width: 25%;
}

/* Coluna dos cards secundarios do hero */
.column-card-2 {
    height: 48%;
}

/* Titulo do card principal */
#heading-card-principal {
    font-family: "Inter Bold";
    font-size: 52px;
}

/* Titulo do card secundario */
#heading-card-secundario {
    font-family: "Inter Bold";
    font-size: 22px;
}

#heading-card-principal:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

#heading-card-secundario:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* Imagem do card principal */
.column-card-1 div img {
    transition: all 0.5s ease;
    /* transição do zoom da imagem */
    aspect-ratio: 1/1;
}

.column-card-1 div img:hover {
    scale: 1.05;
    /* Aumenta tamanho da imagem, gerando efeito de zoom */
}

/* Imagem do card secundario */
.column-card-2 div img {
    transition: all 0.5s ease;
    /* transição do zoom da imagem */
    aspect-ratio: 1/1;
}

.column-card-2 div img:hover {
    scale: 1.05;
    /* Aumenta tamanho da imagem, gerando efeito de zoom */
}

/* Classe que aplica gradiente ao fundo do titulo dos cards */
.bg-gradiente-titulo {
    /* Aplica gradiente com opacidade */
    background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 1));
}


/* ----------------------------------------------------------- */
/*                    PRINCIPAIS NOTICIAS                      */
/* ----------------------------------------------------------- */


/* Titulo da Area de Principais Noticias */

#heading-principais-noticias {
    font-family: "Inter Bold";
    font-size: 32px;
}

#list-principais-noticias .list-group-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

/* ----------------------------------------------------------- */
/*                      ULTIMAS NOTICIAS                       */
/* ----------------------------------------------------------- */

#container-ultimas-noticias {
    width: 75%;
}


/* Titulo da Area de Ultimas Noticias */

#heading-ultimas-noticias {
    font-family: "Inter Bold";
    font-size: 72px;
}

.item-ultimas-noticias:hover p.fw-bold {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.item-ultimas-noticias p.fw-light:hover {
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-thickness: 1px;
}

.img-item-ultimas-noticias {
    height: 108px;
    width: 192px;
    aspect-ratio: 16 / 9;
}


/* ----------------------------------------------------------- */
/*                        MAIS POPULARES                       */
/* ----------------------------------------------------------- */

#container-mais-populares {
    width: 25%;
}

/* Area de Noticias Mais Populares */
#div-mais-populares {
    /* font-family: "Inter"; */
    background-color: #8b5cf6;
}

/* Titulo da Area de Noticias Mais Populares */

#heading-mais-populares {
    font-family: "Inter Bold";
    font-size: 44px;
}

#list-mais-populares .list-group-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}


/* ----------------------------------------------------------- */
/*                         CATEGORIAS                          */
/* ----------------------------------------------------------- */

#hardware,
#software,
#IA {
    height: 100dvh;
}

.div-card-categoria-1,
.div-card-categoria-2 {
    width: 50%;
}

.heading-categorias {
    font-family: "Inter Bold";
    font-size: 72px;
}

.heading-card-categoria-1 {
    font-family: "Inter Bold";
    font-size: 44px;
}

.heading-card-categoria-2 {
    font-family: "Inter Bold";
    font-size: 35px;
}

.heading-card-categoria-1:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.heading-card-categoria-2:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* Imagem do card principal */
.div-card-categoria-1 img {
    /* transição do zoom da imagem */
    transition: all 0.5s ease;
    aspect-ratio: 1/1;
}

.div-card-categoria-1 img:hover {
    scale: 1.05;
    /* Aumenta tamanho da imagem, gerando efeito de zoom */
}

/* Imagem do card secundario */
.div-card-categoria-2 img {
    height: 50%;
    /* transição do zoom da imagem */
    transition: all 0.5s ease;
    aspect-ratio: 1/1;
}

.div-card-categoria-2 img:hover {
    /* Aumenta tamanho da imagem, gerando efeito de zoom */
    scale: 1.05;
}

/* ----------------------------------------------------------- */
/*                           FOOTER                            */
/* ----------------------------------------------------------- */


footer {
    height: 300px;
}

/* ----------------------------------------------------------- */
/*                        MEDIA QUERY                          */
/* ----------------------------------------------------------- */



@media (max-width: 991px) {

    #logo-navbar {
        /* Retira transição da logo na navbar */
        transition: none;
    }

    #hero {
        /* altura automática para os elementos não ultrapassarem o hero  */
        height: auto;
    }

    /* Definindo largura do containeres dos Cards de Noticias e Principais Noticias */
    #container-cards-noticias,
    #container-principais-noticias {
        width: 100%;
    }

    /* Definindo largura do containeres de Ultimas Noticias e Mais Populares */
    #container-ultimas-noticias,
    #container-mais-populares {
        width: 100%;
    }

    /* Definindo largura dos cards de categoria */
    .div-card-categoria-1,
    .div-card-categoria-2 {
        width: 100%;
    }

    /* Definindo altura dos cards secundarios de categoria */
    .div-card-categoria-2 img {
        height: 25dvh;
    }

    /* Altura regulada automaticamente pelas categorias */
    #hardware,
    #software,
    #IA {
        height: auto;
    }

    footer {
        height: auto;
    }
}

@media (max-width: 576px) {

    #heading-card-principal{
        font-size: 28px;
    }

    #heading-ultimas-noticias{
        font-size: 38px;
    }

    .img-item-ultimas-noticias{
        width: 128px;
        height: 72px;
    }

    .heading-categorias{
        font-size: 44px;
    }

    .heading-card-categoria-1{
        font-size: 28px;
    }
    
    .heading-card-categoria-2{
        font-size: 24px;
    }
    
}