/* FONTES */

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Inter Bold";
    src: url(../fonts/static/Inter_28pt-ExtraBold.ttf);
}

/* Estilos CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

#hero{
    background-color: #3b82f6;
    height: 125dvh;
}

.coluna-noticia{
    height: 48%;
}

footer{
    height: 300px;
}

/* Area de Noticias Mais Populares */
#div-mais-populares{
    /* font-family: "Inter"; */
    background-color: #8b5cf6;
}

/* Titulo da Area de Principais Noticias */

#heading-principais-noticias{
    font-family: "Inter Bold";
    font-size: 32px;
}

/* Titulo da Area de Ultimas Noticias */

#heading-ultimas-noticias{
    font-family: "Inter Bold";
    font-size: 72px;
}

/* Titulo da Area de Noticias Mais Populares */

#heading-mais-populares{
    font-family: "Inter Bold";
    font-size: 44px;
}

#logo-navbar{
    transition: all 0.5s ease;
}